* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;

}

a {
  text-decoration: none;
}
textarea {
  resize: none;
}

header {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #b9b9b9, #777777, #3b3b3b,#000000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
}

header a {
  color: aqua;
  font-weight: 900;
  text-shadow: 2px 2px black;
}

header img {
  height: 100px;
  object-fit: contain;
  margin:0;
  padding: 0;
}
#header-user-info {
  margin-right: 1%;
}

#header-user-info p {
  color: aqua;
}

/**************** PET-CARD ****************/
.pet-card {
  display: inline-block;
  text-align: center;
  margin: 20px;
    height: 300px;
    width: 350px;
}

.pet-list-img { 
  transition: all 0.4s ease-in-out 0.5s; 
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 10%;
}

.pet-card-mask{ 
	background-color: rgba(0,0,0,0.5);
	opacity:0;
	transition: all 0.1s ease-in 0.2s;
}
.pet-card h2{
	opacity:0;
    background: transparent;
    transform: scale(5);
    transition: all 0.3s ease-in-out 0.2s;
    color: white;
    display: inline-block;
}

.pet-card:hover .pet-card-mask{  
	opacity:1; 
  transition-delay: 0s;
  height: 301px;
    width: 350px;
  transform: translateY(-305px);
  border-radius: 10%;
}										

.pet-card:hover .pet-list-img { 
	transition-delay: 0s; 
}
.pet-card:hover h2 { 
	opacity: 1;
    transform: scale(1);
	transition-delay: 0.2s;
  transform: translateY(150px);
}
.pet-card:hover  { 
	opacity:1;
	transition-delay: 0.3s;
}

/**************** END PET-CARD ****************/

.plus-sign {
  height: 20px;
}


#pet-add-unknown {
  text-align: center;
}

.pet-add-section {
  display: inline-flex;
  justify-content: center;
  background-color: #b9b9b9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left:44%;
}

#pet-add-unknown {
  display: inline-flex;
  justify-content: center;
  background-color: #b9b9b9;
  padding: 10px;
  border-radius: 10px;
  margin-left:39%;
}

.pet-add-section h3{
  margin-left: 10px;
}

/***************   PET CREATE PAGE   ***************/
.create-form {
  margin-top: 100px;
  text-align: center;
}

.create-form form button {
  margin-top: 10px;
}

/***************   EVENT CREATE PAGE   ***************/
.create-event-form {
  margin-top: 100px;
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0;
  text-align: center;
}

.create-event-form form button {
  margin-top: 10px;
}

#doctor-pad {
  width: 300px;
  height: 200px;
  object-fit: fill;
}
/***************   PET PROFILE PAGE   ***************/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 100px;
}

/* The navigation menu links */
.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: 0;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.pet-profile-page {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0;
}

#pet-profile-section h2 {
  margin-top: 5px;
}

#pet-profile-main-screen, 
#medical-profile-section, 
#service-provider-section, 
#edit-event-section,
#create-event-form {
  padding-top: 100px;
  height: 87vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.9)
}

#medical-profile-section, #edit-pet-section {
  padding-top: 100px;
  height: 86vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: .75em;
}

#medical-profile-section h1 {
  margin: 10px;
}

#edit-pet-form {
  font-size: 1.1em;
}

.in-line-edit p, .in-line-edit input, .in-line-edit textarea {
  font-size: 1.1em;
}

.pet-name-div, .edit-pet-div{
  /* background-color: rgba(128, 128, 128, 0.6); */
  display:inline-block;
  /* border-radius: 10px; */
  padding: 5px 20px;
  margin: 5px 100px;
}

.auth-container {
  text-align: center;
}
.pet-container, .auth-container {
  padding-top: 125px;
  height: 86vh;
  /* background-color: #b9b9b9; */
  background-image: url("https://previews.123rf.com/images/natashapankina/natashapankina1608/natashapankina160800095/61234846-seamless-pattern-hand-drawn-doodle-pets-stuff-and-supply-icons-set-vector-illustration-vet-symbol-co.jpg");
}

.create-form {
  height: 86vh;
  /* background-color: #b9b9b9; */
  background-image: url("https://previews.123rf.com/images/natashapankina/natashapankina1608/natashapankina160800095/61234846-seamless-pattern-hand-drawn-doodle-pets-stuff-and-supply-icons-set-vector-illustration-vet-symbol-co.jpg");
}

#edit-event-section {
  padding-top: 100px;
  margin-left: 250px; /* Same as the width of the sidebar */
  text-align: center;
  margin-bottom: 10px;
}

#edit-event-section h2 {
  margin: 10px;
}
#edit-event-form {
  text-align: center;
}
#edit-event-form button{
  margin-top: 10px;
}
.in-line-edit, #edit-event-form-fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  row-gap: 10px;
  font-size: 1.1em;
  text-align:right;
}

#edit-event-form-fields input {
  width: 300px;
  font-size: .8em;
}

#new-med-event {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25em;
}

.add-med-card {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.add-med-card h3 {
  margin-left: 10px;
}

.med-event-container {
  display: flex;
  flex-wrap: wrap;
}

#med-card-buttons {
  margin-top: 5px;
}
.med-card {
  background: url("https://res.cloudinary.com/du4z2ezqn/image/upload/v1575906398/Screen_Shot_2019-12-09_at_10.45.50_AM_dqurt3.png");
  /* background-color: rgba(251, 227, 100, 0.7); */
  background-size:contain;
  margin: 20px;
  padding: 5px;
  width: 250px;
  height: 100px;
  color: black;
  border-radius: 10px;
  box-shadow: 8px 10px;
  opacity: 0.6;
 
}

/***************   Button   ***************/
.button-div {
  padding: 4px 0;
}
.submit-button {
  padding: 4px 8px;
  font-size:1em;
  border-radius: 3px;
  border: 1px solid black;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 1px darkgray;
}

.submit-button:hover {
  background-color: black;
  color:white;
  /* shrink on hover */
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.login-div {
  display: inline-block;
  border: 1px solid black;
  padding: 20px;
  background-color: #b9b9b9;
  border-radius: 10px;
}
/***************   MEDIA QUERIES   ***************/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}