* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;

}

a {
  text-decoration: none;
}
textarea {
  resize: none;
}

header {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #b9b9b9, #777777, #3b3b3b,#000000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Libre Baskerville', serif;
}

header a {
  color: aqua;
  font-weight: 900;
}

header img {
  height: 100px;
  object-fit: contain;
  margin:0;
  padding: 0;
}
#header-user-info {
  margin-right: 1%;
}

#header-user-info p {
  color: aqua;
}

.pet-card {
  display: inline-block;
  text-align: center;
  margin: 20px;

}

.plus-sign {
  height: 20px;
}

.pet-list-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.pet-add-section {
  display: flex;
}

.pet-add-section h3{
  margin-left: 10px;
}

/***************   PET CREATE PAGE   ***************/
.create-form {
  margin-top: 100px;
  text-align: center;
}

.create-form form button {
  margin-top: 10px;
}

/***************   EVENT CREATE PAGE   ***************/
.create-event-form {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0;
  text-align: center;
}

.create-event-form form button {
  margin-top: 10px;
}

#doctor-pad {
  width: 300px;
  height: 200px;
  object-fit: fill;
}
/***************   PET PROFILE PAGE   ***************/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 100px;
}

/* The navigation menu links */
.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: 0;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.pet-profile-page {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0;
}

#pet-profile-section h2 {
  margin-top: 5px;
}

#pet-profile-main-screen, #medical-profile-section, #service-provider-section, #edit-event-section {
  padding-top: 100px;
  height: 86vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.9)
}

#medical-profile-section {
  padding-top: 100px;
  height: 86vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: .75em;
}

.pet-name-div, .edit-pet-div{
  /* background-color: rgba(128, 128, 128, 0.6); */
  display:inline-block;
  /* border-radius: 10px; */
  padding: 5px 20px;
  margin: 5px 100px;
  
}

.auth-container {
  text-align: center;
}
.pet-container, .auth-container {
  padding-top: 100px;
  height: 86vh;
  background-color: #b9b9b9;
}

.create-form {
  height: 86vh;
  background-color: #b9b9b9;
}

#edit-event-section {
  padding-top: 100px;
  margin-left: 250px; /* Same as the width of the sidebar */
  text-align: center;
  margin-bottom: 10px;
}

#edit-event-form {
  text-align: center;
}
#edit-event-form button{
  margin-top: 10px;
}
.in-line-edit{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-med-card {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.add-med-card h3 {
  margin-left: 10px;
}
.med-card {
  background-color: rgba(251, 227, 100, 0.7);
  margin: 10px;
  padding: 5px;
  width: 250px;
  height: 100px;
  color: black;
 
}

/***************   Button   ***************/
.button-div {
  padding: 4px 0;
}
.submit-button {
  padding: 4px 8px;
  font-size:1em;
  border-radius: 3px;
  border: 1px solid black;
  transition-timing-function: ease-in-out;
  box-shadow: 1px 1px darkgray;
}

.submit-button:hover {
  background-color: black;
  color:white;
  /* shrink on hover */
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/***************   MEDIA QUERIES   ***************/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}