* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #b9b9b9, #777777, #3b3b3b,#000000);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
}

header a, header h1 {
  margin:0;
  padding: 0;
}
header img {
  height: 100px;
  object-fit: contain;
  margin:0;
  padding: 0;
}
#header-user-info {
  margin-right: 1%;
}

#header-user-info p {
  color: white;
}

.plus-sign {
  height: 20px;
}

.pet-list-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

/***************   PET PROFILE PAGE   ***************/

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 100px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.pet-profile-page {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0;
}

#pet-profile-main-screen {
  height: 86vh;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.pet-name-div, .edit-pet-div{
  background-color: rgba(128, 128, 128, 0.6);
  display:inline-block;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 100px;
  
}


.in-line-edit{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


/***************   MEDIA QUERIES   ***************/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}